<div class="container">
  <div class="jumbotron">
      <h1>Welcome to Infringement Management Service</h1>   
  </div>
</div>


<div class="container">
   <form>
    <div class="row">
        <!--Grid column-->
        <div class="col-md-5">
            <div class="form-inline pull-md-left m-r-1">
                <div class="form-group">
                    <label for="infringementId" class="col-xs-2">Infringement ID:</label>
                    <div class="col-xs-3">
                      <input type="text" class="form-control" id="infringementId" placeholder="Infringement ID" />
                    </div>
                  </div>
            </div>
        </div>
        <!--Grid column-->
        <div class="col-md-5">
            <div class="form-inline pull-md-left m-r-1">
                <div class="form-group">
                    <label for="detentionDate" class="col-xs-2">Detention Date:</label>
                    <div class="col-xs-3">
                      <input type="date" class="form-control" id="detentionDate" placeholder="Detention Date" />
                    </div>
                  </div>
            </div>
        </div>
        <!--Grid column-->
        <div class="col-md-2">
            <div class="form-inline pull-md-left m-r-1">
                <div class="form-group">
                    <!--
                    <label for="id" class="col-xs-1"></label>
                    -->
                    <div class="col-xs-2">
                      <input type="text" class="form-control" id="id" placeholder="ID" />
                    </div>
               </div>
            </div>
        </div>
    </div>  

    <div class="row">
        <!--Grid column-->
        <div class="col-md-5">
            <div class="form-inline pull-md-left m-r-1">
                <div class="form-group">
                    <label for="grossWeight" class="col-xs-2">Gross Weight:</label>
                    <div class="col-xs-3">
                      <input type="text" class="form-control" id="grossWeight" placeholder="Gross Weight" />
                    </div>
                  </div>
            </div>
        </div>
        <!--Grid column-->
        <div class="col-md-5">
            <div class="form-inline pull-md-left m-r-1">
                <div class="form-group">
                    <label for="referenceNumber" class="col-xs-2">Customs Office Reference Number:</label>
                    <div class="col-xs-3">
                        <select class="form-control" id="referenceNumberSel">
                            <option>12345678</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select> 
                    </div>
                  </div>
            </div>
        </div>
        <!--Grid column-->
        <div class="col-md-2">
            <div class="form-inline pull-md-left m-r-1">
                <div class="form-group">  
                    <div class="col-xs-2">
                      <input type="text" class="form-control" id="place" placeholder="Place" />
                    </div>
               </div>
            </div>
        </div>
    </div>  

    <div class="row">
      <div class="container">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#routing" data-toggle="tab" class="nav-link active">Routing</a>
            </li>
            <li class="nav-item">
              <a href="#goods" data-toggle="tab" class="nav-link">Goods</a>
            </li>
            <li class="nav-item">
              <a href="#info" data-toggle="tab" class="nav-link">Info</a>
            </li>
          </ul>
      </div>
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="routing">
              <div class="container">
                 <div class="row" style="margin: 1em;">  
                    <div id="routing-content">
                      <div id="routingPage">
                       <h3>Routing Page</h3>
                       <p>
                         All Routing fields go here!
                      </p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="goods">
              <div class="container">
                 <div class="row" style="margin: 1em;">  
                    <div id="goods-content">
                      <div id="goodsPage">
                       <h3>Goods Page</h3>
                       <p>
                         All Goods fields go here!
                      </p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="info">
              <div class="container">
                 <div class="row" style="margin: 1em;">  
                    <div id="info-content">
                      <div id="infoPage">
                       <h3>Info Page</h3>
                       <p>
                         All Info fields go here!
                      </p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
    
    <!---
            <div class="form-group">
              <label for="descField" class="col-xs-2">Description</label>
              <div class="col-xs-10">
                <textarea type="text" class="form-control" id="descField" placeholder="Your Comments"></textarea>
              </div>
            </div>
            
            <div class="col-xs-10 col-xs-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button> <button type="reset" class="btn btn-default">Reset</button>
            </div>
            
          </form>
        </div>
      </div>
    -->
</div>


