<div class="container-fluid"  id="reference-data-management">
  <div class="container">
      <div class="jumbotron">
          <h1>Reference Data Management</h1>
      </div>
  </div> <!-- container -->

  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="#country-code" data-toggle="tab" class="nav-link active">Country Code</a>
      </li>
      <li class="nav-item">
        <a href="#eu-country-code" data-toggle="tab" class="nav-link">EU Country Code</a>
      </li>
      <li class="nav-item">
        <a href="#action-type" data-toggle="tab" class="nav-link">Action Type</a>
      </li>
      <li class="nav-item">
        <a href="#category-of-goods" data-toggle="tab" class="nav-link">Category of Goods</a>
      </li>
      <li class="nav-item">
        <a href="#ipr-type" data-toggle="tab" class="nav-link">IPR Type</a>
      </li>
      <li class="nav-item">
        <a href="#traffic-type" data-toggle="tab" class="nav-link">Traffic Type</a>
      </li>
      <li class="nav-item">
        <a href="#type-of-place" data-toggle="tab" class="nav-link">Type of Place</a>
      </li>
      <li class="nav-item">
        <a href="#type-of-transport" data-toggle="tab" class="nav-link">Type of Transport</a>
      </li>
      <li class="nav-item">
        <a href="#customs-office" data-toggle="tab" class="nav-link">Customs Office</a>
      </li>
      <li class="nav-item">
        <a href="#customs-procedure" data-toggle="tab" class="nav-link">Customs Procedure</a>
      </li>
      <li class="nav-item">
        <a href="#site" data-toggle="tab" class="nav-link">Site</a>
      </li>
      <li class="nav-item">
        <a href="#intervention" data-toggle="tab" class="nav-link">Intervention</a>
      </li>
      <li class="nav-item">
        <a href="#unit-of-measure" data-toggle="tab" class="nav-link">Unit of Measure</a>
      </li>
    </ul>
  </div>
  <div class="container">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="country-code">
        <a [routerLink]="['/reference-data/reference-data-admin', 'country-code']" class="btn btn-primary btn-block">Country Code Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="eu-country-code">      
        <a [routerLink]="['/reference-data/reference-data-admin', 'eu-country-code']" class="btn btn-primary btn-block">EU Country Code Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="action-type">
      <a [routerLink]="['/reference-data/reference-data-admin', 'action-type']" class="btn btn-primary btn-block">Action Type Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="category-of-goods">
      <a [routerLink]="['/reference-data/reference-data-admin', 'category-of-goods']" class="btn btn-primary btn-block">Category of Goods Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="ipr-type">
      <a [routerLink]="['/reference-data/reference-data-admin', 'ipr-type']" class="btn btn-primary btn-block">IPR Type Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="traffic-type">
      <a [routerLink]="['/reference-data/reference-data-admin', 'traffic-type']" class="btn btn-primary btn-block">Traffic Type Admin</a>   
   </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="type-of-place">
      <a [routerLink]="['/reference-data/reference-data-admin', 'type-of-place']" class="btn btn-primary btn-block">Type of Place Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="type-of-transport">
      <a [routerLink]="['/reference-data/reference-data-admin', 'type-of-transport']" class="btn btn-primary btn-block">Type of Transport Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="customs-office">
      <a [routerLink]="['/reference-data/reference-data-admin', 'customs-office']" class="btn btn-primary btn-block">Customs Office Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="customs-procedure">
      <a [routerLink]="['/reference-data/reference-data-admin', 'customs-procedure']" class="btn btn-primary btn-block">Customs Procedure Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="site">
      <a [routerLink]="['/reference-data/reference-data-admin', 'site']" class="btn btn-primary btn-block">Site Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="intervention">
      <a [routerLink]="['/reference-data/reference-data-admin', 'intervention']" class="btn btn-primary btn-block">Intervention Admin</a>   
    </div> <!-- tabpanel -->
    <div role="tabpanel" class="tab-pane" id="unit-of-measure">
      <a [routerLink]="['/reference-data/reference-data-admin', 'unit-of-measure']" class="btn btn-primary btn-block">Unit of Measure Admin</a>   
    </div> <!-- tabpanel -->
  </div> <!-- tab-content-->  
</div>
</div>