<div class="container">
  <div class="row jumbotron" style="margin: 1em;">  
        <h3>Welcome to HRMC's Anti-Counterfeit and Anti-Piracy Information System</h3>
        <hr/>
        <p>
          <img src="../../assets/images/HMRC.png" align="left" width="80"
          height="45"/>
       </p>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="custom-column">
          <div class="custom-column-header"><h3>Executive Summary</h3></div>
          <div class="custom-column-content">
              <div class="card-block">
                  <p>The current IPR system, COPIS (anti-Counterfeit and anti-Piracy Information System) is an EU database shared by Member States’ customs authorities. Approximately 3,400 businesses protect their IPRs using the system. Businesses register Intellectual Property Rights annually, and those rights are enforced at the borders of the EU, including the UK borders – Border Force operate this process on HMRC’s behalf.</p>
                  <p>The UK is a signatory of the Agreement on Trade-Related Aspects of Intellectual Property Rights (TRIPS), which sets out minimum standards for the regulation of IP across member nations of the WTO. This is currently regulated by the EU, and the legislation will be brought into UK legislation through the EU Withdrawal Bill and any secondary legislation.</p>
                  <p>A secure system for protecting Intellectual Property Rights is essential.  A lack of adequate standards and enforcement in domestic procedures and remedies would adversely impact on the UK’s ability to successfully negotiate future trade agreements.</p> 
                  <p>As part of the Border Services Programme, this project will focus on delivering a minimal viable product for a day one no deal scenario (D1ND) for EU Exit by 29 March 2019.</p>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="custom-column">        
          <div class="custom-column-header"><h3>High Level Overview</h3></div>
          <div class="custom-column-content">
              <div class="card-block">
                  <p>This section must provide an outline of the IT design scope and delivery options. Including the LID, number of phases, anticipated size / scope of the change.</p>
                  <p>In the event of a D1ND, the UK will lose access to the COPIS system, and a replacement will be required to ensure the UK can continue to meet its obligations as related to IP protection. The following basic functionality is required:</p> 
                  <ul class="list-group">
                      <li class="list-group-item"><i class="fa fa-check"></i> A database owned and populated by HMRC to allow business to register UK interests (inc. EU and RoW businesses currently registered through other Member States)</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> A registration process where businesses can apply for rights to be entered into the database (AFA), etc.</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> An Infringement Case Management capability to allow Border Force to record seizure data, including appropriate traceability and audit capabilities for case management and decisions.</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> Access control to allow HMRC to use (as well as  Border Force)</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> Suitable notifications process for both AFA’s and Infringements</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> Basic reporting/extracts</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> Compliance with TRIPS and WTO rules</li>
                 </ul>
              </div>
            </div> 
        </div>
      </div>
    </div>
  </div>